@media (min-width: 992px){
    .dpd{
        margin-left: 90%;
    }
    
    .dpdp {
        margin-left: 68%;
    }

    /* .navbar{
        position: fixed !important;
        width: 100vw;
    } */
    
    
}