.div-code{
    max-width: 700px; 
    margin-top: 2%;
}

.button-code {
    background-color: #ea4c88;
    color: #eee;
    margin: 0;
    width: 100%;
    margin-top: 1%;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.button-code:hover {
    background-color: #d44179;
    color: #eee;
}

.p-code {
    font-size: 18px;
    color: #858b91;
}

.input-code {
    border-radius: 0.25rem;
    color:black;
    padding: 0.5rem;
}

.p-errorI {
    text-align: center;
}

.titles {
    margin: auto;
    font-family: fantasy;
    font-size: 200%;
    color: #eee;
}

.tb{
    margin-top: 15px;
}

@media (min-width: 994px){
    .bt{
        margin-left: 90%;
    }

    .btl{
        margin-top: 2%;
        margin-left: 82%;
    }

    .bt2{
        margin-left: 85%;
    }
    
}

.dl{
    margin-top: 5px;
}

.qr-img {
    width: 80%;
    height: 80%;
}

.div-qr {
    color: #eee;
    font-size: 150%;
    text-align: center;
    max-width: 500px; 
    margin-top: 2%;
}

.div-notfound{
    height: 100vh;
    min-height:600px;
}
   
.div-notfound > div{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 50%;
    text-align: center;
}

.p-404 {
    color:#eee; 
    font-size: 300%;
}

.p-msg {
    color:#eee; 
    font-size: 120%;
}

.link-home {
    display: inline;
    color: #ea4c88;
}

.link-home:link {
    color: #ea4c88;
    text-decoration: none;
}

.link-home:hover {
    color: #d44179;
    text-decoration: none;
}