@layout('layouts/main')
@set('title', 'Code Verifidied | Libreria' )

@section('body')

<section class="section">
    <div class="container">
        <p> Tu código de verificación es:</p>
        <p style="font-size: 50;">{{code}}</p>
    </div>
</section>

@end