@layout('layouts/main')
@set('title', 'Inicio | Libreria')

@section('body')

    @include('partials/navbar')

    <img src="resources/images/default.png" alt="C:\Users\carlo\OneDrive\Documents\UTT\Inge\8vo\Seguridad Informática\Proyecto final\Proyecto-Libreria\resources\images\default.png">

@end