@layout('layouts/main')
@set('title', 'Login | Libreria' )

@section('body')

<section class="section">
    <div class="container">
        <h1>
            Aqui va el login
        </h1>
    </div>
</section>

@end